body{
  background-color: rgb(19, 7, 7);
}

/*Splash*/
.title{
  background-color: #444444;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: 3;
}
.fm{
  text-align: center;
  padding-top: 30vh;
  font-size: 450%;
}
.title, .title2, .pfood{
  color:orange;
}
/*Map*/
.map{
  height: 550px;
  width: 100%;
  frameborder:0px;
  border:0px;
}
.pfood{
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
}
/*Bar*/
.bar{
  padding-bottom: 2%;
}
#custom-search-input{
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}

.input-lg{
  height: 35px;
}
/*Images*/
.img-responsive{
  width:100%;
  padding-top:6%;
}