* {
  margin:0;
  padding:0;
}

body{
  background-color: rgb(19, 7, 7);
  font-family: 'Raleway', sans-serif;
}
.line {
  margin-left: 15px;
  margin-bottom: 5px;
}
/*Splash*/
.title{
  background-color: #444444;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: 3;
}
.fm{
  text-align: center;
  padding-top: 30vh;
  font-size: 450%;
}
.title, .title2, .pfood{
  color:orange;
}
/*Map*/
.map{
  height: 500px;
  width: 100%;
  margin-top: 5%;
}
.pfood{
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
}
/*Bar*/
.bar{
  padding-bottom: 2%;
}
#custom-search-input{
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}

.input-lg{
  height: 35px;
}
/*Images*/
.foodimg{
  width:100%;
  padding-top:6%;
}

.clf{
  padding-left: 13px;
  padding-right: 5px;
}

.cnf{
  padding: 0;
  padding-right: 18px;
}

.inf{
  padding: 0;
  padding-left: 13px;
  padding-right: 5px;
}

.pef{
  padding: 0;
  padding-left: 8px;
  padding-right: 11px;
}
.thaf{
  padding: 0;
  padding-left: 2px;
  padding-right: 18px;
}

.foodimages{
  padding-bottom: 5%;
}
/*Modales*/
.modal-title{
  text-align: center;
}

h5 {
  color:#BB2F2F;
}

